.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.name-comment-container {
  display: flex;

  align-items: flex-start;
}

.name-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.round {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #f97316;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 20px;
  padding-left: 0px;
}
.comment {
  margin-top: 0px;
  padding-left: 0px;
}

.like-container {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.like-name {
  margin-left: 10px;
  font-weight: 500;
}

.like-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete {
  background-color: transparent;
  border-width: 0px;
}
.formated {
  font-weight: 100;
  font-size: 10px;
  margin-left: 10px;
}
